@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  justify-content: center;
  align-items: center;
}

header h2 {
  padding: 2rem;
}

#logo {
  text-decoration: none;
  color: black;
}

.search-form {
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.search-form input {
  font-size: 1rem;
  padding: 0.8rem;
  width: 70%;
  border: 2px solid rgb(35, 35, 65);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

::-webkit-input-placeholder {
  /* Edge */
  font-size: 0.9rem;
}

::placeholder {
  font-size: 0.9rem;
}

.search-form button {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  background: rgb(35, 35, 65);
  color: white;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-left: -2px;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  padding: 0.5rem 0rem;
}

.gallery-info a {
  text-decoration: none;
  color: blue;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 2rem 0rem;
  width: 80%;
  margin: auto;
  row-gap: 5rem;
  column-gap: 3rem;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-btn {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more {
  padding: 1rem 5rem;
  background-color: rgb(35, 35, 65);
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 1rem;
}
